{% extends "base.html" %}

{% block title %}Starter Template{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <td>
      分行
    </td>
    
    <td>
      职级
    </td>
    
    <td>
      类别
    </td>
    
    <td>
      姓名
    </td>
    
    <td>
      手机号
    </td>
    
    <td>
      <!-- 用来表示转岗离职这些状态 -->
      状态
    </td>
  </thead>
  {% for o in operators %}
  <tbody>
    <td>
      {{ o['type'] }}
    </td>
    
    <td>
      {{ o['degree'] }}
    </td>
    
    <td>
     asdf
    </td>
    
    <td>
      {{ o['username'] }}
    </td>
    
    <td>
      {{ o['mobile'] }}
    </td>
    
    <td>
      asdf
    </td>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
